TOKEN="MTE2MjMyNzk2NjExMDQ1NzkyOA.GtJJYe.-4v-LF0O0wd2m0xHR5H5gYdbPCpoj77QEUt0ak"
OWNER_ID="804329310252433408"
PREFIX="/"
"SPOTIFY_CLIENT_ID="
"SPOTIFY_CLIENT_SECRET="
MONGO_DB="mongodb+srv://bayuardana213:Komangjelek21@cluster0.t1fwc8p.mongodb.net/?retryWrites=true&w=majority"
